<a href="/films">Home</a>
<hr />
<h1><%= @film.title %> <a href="/films/<%= @film.id %>/edit">(edit)</a></h1>
<%= image_tag @film.picture%>
<h3>Genre:</h3> <%= @film.genre %>
<h3>Year:</h3> <%= @film.year %>
<h3>Plot:</h3> <%= @film.synopsis %>
<br />

<button>Add To Favorites</button>
<hr />